.Todo-task{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    left: 2px;
    border: 1px dotted black;
    padding: 10px;
    width: 40rem;
}

.strike{
    text-decoration: line-through;
}